@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
/* 
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
} */

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 30px;
}

.score-limit {
  color: white;
}

.score-limit:hover {
  cursor: pointer;
}

.score-window a {
  color: black;
  text-decoration: none;
  font-style: none;
  list-style: none;
  margin-right: 30px;
}

.score-limit a:hover {
  cursor: pointer;
}

.score-window {
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  padding: 3rem;
  font-size: 2rem;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.score-window.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}

.instructions {
  color: white;
}

.instructions:hover {
  cursor: pointer;
}

.instruct-window.hidden {
  transform: translate(-50%, -50%) scale(0);
}

.instruct-window {
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  padding: 6rem;
  font-size: 2rem;
  border-radius: 8px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.win-message-window.hidden {
  transform: translate(-50%, -50%) scale(0);
}

.win-message-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: black;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 40;
  height: 200px;
  text-transform: uppercase;
  font-size: 2rem;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}

.close:hover {
  cursor: pointer;
}

/* RESPONSIVENESS */
@media screen and (max-width: 800px) {
  body {
    height: fit-content;
  }
  main {
    width: 80%;
    overflow: initial;
    flex-direction: column;
    padding-bottom: 1rem;
    height: fit-content;
  }

  .player {
    padding: 60px;
  }

  .name {
    font-size: 2rem;
    height: 27px;
    width: fit-content;
  }

  .score {
    font-size: 5rem;
    margin-bottom: 40px;
  }

  .current {
    width: fit-content;
    padding: 15px;
  }

  .btn {
    font-size: 12px;
    left: 25%;
    height: 33px;
    width: fit-content;
  }
  /* 
  .btn::first-letter {
    font-size: 1.3rem;
  } */

  .dice {
    transform: translate(-50%, 175px);
    left: 80%;
    height: 7rem;
  }

  .btn--new {
    top: 20px;
    width: 122.39px;
  }

  .btn--roll {
    top: 335px;
    width: 115.39px;
  }
  .btn--hold {
    top: 385px;
    width: 86.58px;
  }

  .instruct-window {
    padding: 3rem;
    font-size: 1.5rem;
    height: fit-content;
  }
}
